section {
  position:absolute;
  top:50px;
  bottom:0;
  left:0;
  width:300px;
  overflow:auto;
  box-shadow: 1px 0 10px $section-divbar;

  ul {
    width:100%;

    li {
      list-style: none;

      a {
        cursor:pointer; display:block; padding:10px;

        &.selected, &:hover {
          background-color:$section-item-hover-background;
        }
      }
    }
  }

  .main.dark & {
    box-shadow: 1px 0 10px $dark-section-divbar;
    ul li a {
      &.selected, &:hover {
        background-color:$dark-section-item-hover-background;
      }
    }
  }
}
