// Light
$header-background: #eee;
$header-title: #666;
$header-title-shadow: #666;
$header-menu: #666;

$section-divbar: #eee;
$section-item-hover-background: #fafafa;

$content-background: #fff;
$content-today: #666;

// Dark
$dark-header-background: #333;
$dark-header-title: #f5d862;
$dark-header-title-shadow: #f5d862;
$dark-header-menu: #ccc;

$dark-section-divbar: #333;
$dark-section-item-hover-background: #333;

$dark-content-background: #999;
$dark-content-today: #eee;
